
<h2>@ViewBag.Message</h2>
<label>Order Number: @ViewBag.OrderNumber</label>
<br />
<br />
<label>Order Date: @ViewBag.OrderDate</label>
<br />
<br />
<label>Customer Name: @ViewBag.customerName</label>
<br />
<br />
<label>Total Amount: @ViewBag.totalAmount</label>
<br />
<br />
<div>
    <a href="/Home/"onMouseOver="this.style.color='#0F0'"
   onMouseOut="this.style.color='#00F'" class="btn btn-primary">
        Back
    </a>
</div>